/*PRINCIPAL*/

html {
    scroll-behavior: smooth;
  }

.main{
    background-color: white ;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 670px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px #000;
    
}

/*POSICIONAMENTO DO MENU*/
.menu{
    padding: 0px 0px;
    margin-left: 100px;
    margin-top: -45px;

}

/*MENU*/
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    float: left;
    position: relative;
    margin-left: 20px;
}

/*HORIZONTAL*/
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    background-color: #bd5eef;
    padding: 5px 12px ;
    border: 1px solid #ccc;
    margin-right: 40px;
}

/*SUB MENU*/
.menu ul li ul{
    display: none;
    position: absolute;
}

/*ITENS DO MENU*/
.menu li:hover ul {
    display: block;
}

/*SUB MENU COR*/
.menu ul li ul li a:hover{
    background-color: #7a05b8;
}

/*LARGURA DO SUB MENU*/
.menu ul li ul li a{
    width: 60px;
}

li a{
    color: black;
    font-family: 'Secular One', sans-serif;
    font-size: 15px;
}

/*LOGO*/
.logo{
    margin-left: 50px;
   
    
}

.logotablet{
    width: 50px;
    height: 50px;
    
}

/*BOX MENU*/
.header{
    background-color:#D8BFD8;
}

/*BOX STRIX*/

.strix{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 210px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*BOX FOTOS*/

.galeria{
    float: right;
    margin-top: 18px; 
    background-color: #D8BFD8;
    width: 670px;
    box-shadow: 0px 0px 10px #000;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img10, .img11{
    margin-left: 55px;
    margin-top: 55px;
    float: left;
    height: 230px;
}

.img5{
    margin-top: -16px;
    margin-bottom: 75px;
    margin-left: 218px;
}



/*BOX SISTEMA DA ARMA*/

.arma{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 200px;
    margin-top: 50px;
    margin-left: 55px;

}

/*BOX HARDWARE*/

.hardware{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 260px;
    margin-top: 50px;
    
}

/*BOX VIDEOS*/

.videos{
    background-color:  black;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 632px;
    height: 200px;
    margin-top: 50px;

}

.videotablet1, .videotablet2{
    width: 300px;
    height: 200px;
    
}

.videotablet2{
    margin-top: -1px;
    margin-bottom: 12px;
    height: 180px;
}



/*BOTAO VIDEO 1 E 2*/

.btn {
    position: relative;
    width: 120px;
    margin-left: 0px;
    padding: 5px;
    top: 0px;
    margin-top: -190px;
    text-align: center;
    background-color: #ff47fd;
    font-family: 'Secular One', sans-serif;
}

.btn1{
    margin-top: -500px;
}

a {
    text-decoration: none;
}

.btn:hover {
    background-color: #B0E0E6;
}


/*IMAGENS INTEGRANTES*/

.ana1, .celio1, .giovanna1, .rafaela1, .thaynara1{
    box-shadow: 0px 0px 10px #000;
    margin-left: 35px;
   
}

/*BOX GRUPO*/

.grupo{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
    width: 650px;
    height: 700px;
    margin-top: 50px;
    
    
}

/*BOX DA IMAGENS DOS INTEGRANTES*/

.ana1, .celio1, .giovanna1, .rafaela1, .thaynara1{
    box-shadow: 0px 0px 10px #000;
    margin-left: 45px;
    width: 100px;
    height: 100px;
    
   
}

/*BOX GRUPO*/

.grupo{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
    width: 650px;
    height: 740px;
    margin-top: 50px;
    
    
}

/*BOX DA IMAGENS DOS INTEGRANTES*/

.ana, .celio, .giovanna, .rafaela, .thaynara{
    background-color:#B0E0E6;
    width: 200px;
    float: left;
    margin-left: 5px;
    margin-bottom: 20px;

}



.thaynara{
    margin-right: 200px;
}

/*PARAGRÁFOS, TÍTULOS*/

p, h1, h2, h3{
    text-align: center;
    
}




/*BOX ROBOCUP*/

.robocup{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 350px;
    margin-top: 50px;
    margin-left: 55px;

}

/*BOX NEXT*/

.next{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 270px;
    margin-top: 50px;
}

/*BOX SEJA PARCEIRO*/

.formulario{
    background-color: #B0E0E6;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 540px;
    margin-top: 50px;
}

/*BOTAO FORMULARIO*/

.btn1{
    position: relative;
    width: 120px;
    margin-left: 0px;
    padding: 5px;
    top: 0px;
    margin: 0 auto;
    text-align: center;
    background-color: 	#bb5fed;
    font-family: 'Secular One', sans-serif;
}

.btn1:hover {
    background-color: #7a05b8;
}

/*RODAPÉ*/
.rodape
{
    background-color: #D8BFD8;
    float: right;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    width: 630px;
    height: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.rodapelista1, .rodapelista2, .youtube, .inicio, .copyright, .titulo{
    list-style: none;
    float: left;
    margin-left: 0px;
    
}

a:visited {
    color: black;
}

.titulo {
    font-family: 'Alfa Slab One', cursive;
}

.titulo{
    font-size: large;
}

h1, h2, h3, .youtube, .inicio{
    font-family: 'Secular One', sans-serif;
}
